Day **6** Assignment

Q1) Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of lettersonly.

In [1]:
import re 
a = input("Add the Email add:") #This will take user emailid
conv = ("(\w+)@(\w+)\.(com)") #format of the user id
b = re.match(conv,a) #Matching the format with user id
print (b.group(2))# The number in the parameter defines the write fromat we want to print

Add the Email add:trainfreak@gmail.com
gmail

Q2) Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically.

In [3]:
x = input("Insert comma-separated sequence of words ")
b = [b for b in x.split(",")]
print(",".join(sorted(set(b))))

Insert comma-separated sequence of words u,i,e,o,a
a,e,i,o,u

Q4) Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [6]:
x = [1,2,3,5,6]

def missing(number):
    a = len(x)
    b = (a+1)*(a+2)/2
    total = sum(x)
    return b - total

y = missing(x)
print(x)
print("Missing Value is:",int(y))

[1, 2, 3, 5, 6]
Missing Value is: 4

Q5) With a given list L, write a program to print this list L after removing all duplicate values with original order reserved Example: If the input list is 12 24 35 24 88 120 155 88 120 155 Then the output should be 12 24 35 88 120 155

In [8]:
List1 = [12,24,35,24,88,120,155,88,120,155]
#Function Sorted & Set is used to sort the values and remove repeated values
def clist(list1):
    clist = sorted(set(list1))
    print("Converted & Sorted list:",clist)

clist(List1)

Converted & Sorted list: [12, 24, 35, 88, 120, 155]