Day 12 ASSIGNMENT

In [3]:
import pandas as pd 
from scipy.stats import wilcoxon
from scipy.stats import friedmanchisquare
from scipy.stats import mannwhitneyu
from scipy.stats import kruskal
from scipy.stats import chi2_contingency
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind

In [7]:
GD = pd.read_csv("D:\AI-ML\Day 6\general_data.csv")
GD.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [8]:
GD.dropna(inplace=True)

In [9]:
GD.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [10]:
GD.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [11]:
GD.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4404    False
4405    False
4406    False
4407    False
4408    False
Length: 4382, dtype: bool

In [12]:
GD.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [13]:
chisquare_table = pd.crosstab(GD.Attrition,GD.BusinessTravel)
print(chisquare_table)

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [14]:

stats,p,dof,expeted = chi2_contingency(chisquare_table)
print("stats:",stats,",","p:",p)

stats: 70.07594084831366 , p: 6.07019702736392e-16

As p < 0.05 Null Hypothesis is rejected

HA, Alternative Hypothesis is accepted.

Hence, Attrition and Bussiness travel have some dependency

# 2) Department

In [15]:
chisquare_table = pd.crosstab(GD.Attrition,GD.Department)
print(chisquare_table)

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [16]:
stats,p,dof,expeted = chi2_contingency(chisquare_table)
print("stats:",stats,",","p:",p)

stats: 25.89432541916022 , p: 2.382970570769315e-06

H0 = attrition and Department have no dependency

p < 0.05 ,(H0) Null hypothesis is rejected

Alternative Hypothesis (HA) is accepted

There is dependency between Department and attrition

# 3) Education Field

In [17]:
chisquare_table = pd.crosstab(GD.Attrition,GD.EducationField)
print(chisquare_table)

EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
No                           48           1505        400     1163    214
Yes                          32            301         75      222     30

EducationField  Technical Degree
Attrition
No                           347
Yes                           45

In [18]:
stats,p,dof,expeted = chi2_contingency(chisquare_table)
print("stats:",stats,",","p:",p)

stats: 43.132860148900384 , p: 3.472896220587872e-08

p < 0.05 ,(H0) Null hypothesis is rejected

Alternative Hypothesis (HA) is accepted

There is dependency between Department and Educational Field.

# Gender

In [19]:
chisquare_table = pd.crosstab(GD.Attrition,GD.Gender)
print(chisquare_table)

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [20]:
stats,p,dof,expeted = chi2_contingency(chisquare_table)
print("stats:",stats,",","p:",p)

stats: 1.3825823839528295 , p: 0.23966176275638887

H0 = There is no dependency between between Job Roles and Attrition rate.

So, p<0.05, reject H0.

So, there is a dependency between Job Roles and Attrition rate.

# Job Role

In [21]:
chisquare_table = pd.crosstab(GD.Attrition,GD.JobRole)
print(chisquare_table)

JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
No                               333              135                    648
Yes                               56               21                    125

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
No             263                     381                183
Yes             42                      48                 54

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
No                        714              810                   210
Yes                       158              165                    36

In [22]:
stats,p,dof,expeted = chi2_contingency(chisquare_table)
print("stats:",stats,",","p:",p)

stats: 21.893724958847 , p: 0.005116592717526599

H0 = There is no dependency between between Job Roles and Attrition rate.

So, p<0.05, reject H0.

So, there is a dependency between Job Roles and Attrition rate.

# Martial Status

In [23]:
chisquare_table = pd.crosstab(GD.Attrition,GD.MaritalStatus)
print(chisquare_table)

MaritalStatus  Divorced  Married  Single
Attrition
No                  872     1756    1049
Yes                  98      251     356

In [24]:
stats,p,dof,expeted = chi2_contingency(chisquare_table)
print("stats:",stats,",","p:",p)

stats: 133.85785802925156 , p: 8.573051828219379e-30

H0 = There is no dependency between between Marital Status and Attrition rate.

So, p<0.05, reject H0.

So, there is a dependency between Marital Status and Attrition rate.

# Age using Manwhitney

In [25]:
table = pd.crosstab(GD.Age,GD.Attrition)
print(table)

Attrition   No  Yes
Age
18          12   11
19           9   18
20          15   18
21          21   18
22          32   15
23          30   12
24          57   21
25          60   18
26          80   36
27         134    9
28         102   40
29         149   53
30         152   27
31         152   54
32         149   33
33         137   36
34         204   27
35         203   30
36         187   18
37         131   17
38         167    6
39         107   18
40         153   15
41         101   18
42         131    6
43          89    6
44          81   18
45         117    6
46          87   12
47          63    8
48          51    6
49          66    6
50          75   15
51          51    6
52          44    9
53          51    6
54          54    0
55          57    9
56          32    9
57          12    0
58          27   15
59          30    0
60          15    0

In [26]:
stats,p = mannwhitneyu(table.No, table.Yes)
print(stats,p)

169.0 3.309751774702772e-11

So, p<0.05, reject H0.

So, there is a dependency between Age and Attrition rate.

# Distance from Home

In [27]:
table = pd.crosstab(GD.DistanceFromHome,GD.Attrition)
print(table)

Attrition          No  Yes
DistanceFromHome
1                 528   94
2                 513  114
3                 219   29
4                 158   32
5                 162   30
6                 156   21
7                 204   48
8                 206   33
9                 218   35
10                198   60
11                 78    9
12                 44   15
13                 53    3
14                 59    3
15                 45   33
16                 80   15
17                 48   12
18                 63   15
19                 48   18
20                 65    9
21                 48    6
22                 48    9
23                 68   12
24                 75    9
25                 69    6
26                 72    3
27                 27    9
28                 56   11
29                 69   12

In [28]:
stats,p = mannwhitneyu(table.No, table.Yes)
print(stats,p)

59.0 9.615899502737067e-09

So, p<0.05, reject H0.

So, there is a dependency between Distance from home and Attrition rate.

# Salary hike in%

In [29]:
table = pd.crosstab(GD.PercentSalaryHike,GD.Attrition)
print(table)

Attrition           No  Yes
PercentSalaryHike
11                 538   90
12                 502   89
13                 522  100
14                 510   87
15                 239   63
16                 202   29
17                 199   43
18                 227   39
19                 186   42
20                 138   27
21                 115   27
22                 138   30
23                  68   15
24                  54    9
25                  39   15

In [30]:
stats,p = mannwhitneyu(table.No, table.Yes)
print(stats,p)

16.5 3.701943462476957e-05

H0 = There is no dependency between between Job Roles and Attrition rate.

So, p<0.05, reject H0.

So, there is a dependency between Percent Salary Hike and Attrition rate.

# Total Working Hours

In [31]:
table = pd.crosstab(GD.TotalWorkingYears,GD.Attrition)
print(table)

Attrition           No  Yes
TotalWorkingYears
0.0                 18   14
1.0                122  119
2.0                 66   27
3.0                 99   27
4.0                152   36
5.0                214   48
6.0                307   65
7.0                189   52
8.0                259   47
9.0                255   30
10.0               527   75
11.0                85   21
12.0               129   15
13.0                99    9
14.0                81   12
15.0               105   15
16.0               102    9
17.0                90    9
18.0                68   12
19.0                57    9
20.0                82    6
21.0                99    3
22.0                56    6
23.0                60    6
24.0                45    9
25.0                39    3
26.0                39    3
27.0                21    0
28.0                38    3
29.0                30    0
30.0                21    0
31.0                24    3
32.0                27    0
33.0                18    3
34.0                12    3
35.0                 9    0
36.0                18    0
37.0                12    0
38.0                 3    0
40.0                 0    6

In [32]:

stats,p = mannwhitneyu(table.No, table.Yes)
print(stats,p)

239.5 3.3806217185020045e-08

So, p<0.05, reject H0.

So, there is a dependency between Total Working Hours and Attrition rate

# Stock option

In [33]:
table = pd.crosstab(GD.StockOptionLevel,GD.Attrition)
print(table)

Attrition           No  Yes
StockOptionLevel
0                 1564  316
1                 1509  267
2                  388   84
3                  216   38

In [34]:
stats,p = mannwhitneyu(table.No, table.Yes)
print(stats,p)

2.0 0.056175598845231926

H0 : There is no significant difference between StockOptionLevels of employees who left the company and those who did not.

H1 : There is a significant difference between StockOptionLevel employees who left the company and those who did not.

As, p>0.05: accept H0.

So, There is no significant difference in StockOptionLevel of employees who left the company and those who did not.

# Training time last year

In [35]:
table = pd.crosstab(GD.TrainingTimesLastYear,GD.Attrition)
print(table)

Attrition                No  Yes
TrainingTimesLastYear
0                       132   30
1                       183   29
2                      1351  278
3                      1208  258
4                       318   47
5                       303   51
6                       182   12

In [36]:
stats,p = mannwhitneyu(table.No, table.Yes)
print(stats,p)

6.0 0.010725366843161034


H0 : There is no significant difference between TrainingTimesLastYear of employees who left the company and those who did not.

H1 : There is a significant difference between TrainingTimesLastYear employees who left the company and those who did not.

As, p<0.05: reject H0.

So, There is a significant difference in StockOptionLevel of employees who left the company and those who did not.

# Years at company

In [37]:
data={'YearsAtCompany':GD.YearsAtCompany,'YearsSinceLastPromotion':GD.YearsSinceLastPromotion,'YearsWithCurrManager':GD.YearsWithCurrManager}
df = pd.DataFrame(data,index=GD.EmployeeID)
print(df[['YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']])

            YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
EmployeeID
1                      5.0                      1.0                   4.0
2                      5.0                      0.0                   3.0
3                      8.0                      7.0                   5.0
4                      6.0                      0.0                   4.0
5                      7.0                      7.0                   7.0
...                    ...                      ...                   ...
4405                   3.0                      0.0                   2.0
4406                   3.0                      0.0                   2.0
4407                   4.0                      1.0                   2.0
4408                   9.0                      7.0                   8.0
4409                   NaN                      NaN                   NaN

[4382 rows x 3 columns]

In [38]:

stats,p = friedmanchisquare(GD.YearsAtCompany,GD.YearsSinceLastPromotion,GD.YearsWithCurrManager)
print(stats,p)

6453.723879580441 0.0


H0: There is no significant dependency between Years Since Last Promotion,Years with current manager and Years At Company.

H1: There is a significant dependency between Years Since Last Promotion,Years with current manager and Years AtCompany.

As, p<0.05, reject H0.

There is a significant dependency between Years Since Last Promotion,Years with current manager and Years At Company